// 社長のスペーシングを採用するか否か
$isSecondOpinion: true;

// レイアウト配色
$color_main: #000; // メインカラー
$color_sub: #ebebeb; // サブカラー
$color_accent: #d21935; // アクセントカラー
$color_active: $color_main; //選択色
$color_disable: #b4babe; // 無効色
$color_canvas: white; // カンバス地色
$color_oncanvas: white; // カンバス上の地色（表やカードの地色）
$color_base: #ccc; // 背景色
$isCanvasShadow: false; // ドロップシャドウ（true/false）

// 警告とOKの色
$color_impact: #d21935; // 警告文字（いわゆる赤字）色
$color_safety: #767676; // OK色（一般にはグリーンであることが多い）
//$color_focus    : #ffc;    // フォームの入力時の色

// 文字の色
$color_text: #2c3e50;
$color_invert: white; // 抜き文字の色
$color_note: #767676; // 注釈文字色
$color_onGraphic: white;

// 文字サイズ
$font_xl: 55px;
$font_l: 39px;
$font_ml: 32px;
$font_default: 25px;
$font_s: 20px;
$font_xs: 16px;

// レイアウトサイズ
$width_canvas: 1920px;
$width_modal: 645px;
$height_header: 60px;
$height_footer: 60px;
$height_input: 71px;

//ボタン（bootstrap.btnの設定を同名で上書きするため改名不可）
$btn-border-radius: 10px;

//フォーム（bootstrap.form-controlの設定を同名で上書きするため改名不可）
$input-border-radius: 10px;
$input-border-width: 2px;
$input-border-color: rgb(118, 118, 118);
//$input-font-family:;
//$input-font-size:;
//$input-color:;

//メディア（bootstrap.$grid-breakpoints のサイズを参照）
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
